# Environnement virtuel
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
/static/
/media/

# Migrations (optionnel — garde-les si tu veux)
# core/migrations/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.env.local